<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ankaboot</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-responsive.css" />
    <link
      href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="css/toggle-switch.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!--[if lt IE 9]>
      <script src="dist/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <header>
        <img src="img/spider_logo.png" alt="ML Bootstrap Template" />
        <h1>Crawl web pages and get some useful textual analysis.</h1>
      </header>

      <div class="row">
        <div class="span">
          <a id="submit-form" href="#" class="btn btn-block btn-success"
            >Submit</a
          >
        </div>

        <div class="span" style="float: right">
          <div class="btn-group btn-block">
            <button
              id="method-dropdown"
              class="btn btn-info btn-action pull-left"
            >
              Method
            </button>
            <button
              class="btn btn-info dropdown-toggle pull-left"
              data-toggle="dropdown"
            >
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="method-option" href="" tabindex="-1">tf-idf</a></li>
              <li>
                <a class="method-option" href="" tabindex="-1">KeyBERT</a>
              </li>
              <li><a class="method-option" href="" tabindex="-1">YAKE</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span2">
          <span class="box2" style="display: none">
            <button class="btn pull-left" data-toggle="dropdown">
              <span aria-hidden="true" class="icon-ml-add"></span>
              <span class="IconclassName">&nbsp;Add</span>
            </button>
          </span>
        </div>

        <div class="span2" style="float: right; direction: rtl">
          <label class="checkbox toggle candy" onclick="">
            <input id="view" type="checkbox" />
            <p>
              <span>multi</span>
              <span>single</span>
            </p>

            <a class="slide-button"></a>
          </label>
        </div>
      </div>

      <div id="input-container" class="row">
        <div class="span12">
          <div class="control-group">
            <input
              name="input-url[]"
              class="input-block-level"
              type="text"
              placeholder="url"
              style="padding-left: 15px"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h3>Keywords</h3>
              <p name="keywords-response" id="keywords"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h3>Similar Pages</h3>
              <ul name="similar-pages-response" id="similar"></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h3>Summary</h3>
              <p name="summary-response" id="summary"></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h3>Word cloud</h3>
              <img
                id="wordcloud-pic"
                src=""
                style="display: block; margin: auto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span12">
          <div class="thumbnail">
            <div class="caption">
              <h3>Similarity network graph</h3>
              <img id="graph-pic" src="" style="display: block; margin: auto" />
            </div>
          </div>
        </div>
      </div>

      <!-- /row -->
    </div>
    <!-- /container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>
      $(document).ready(function () {
        // ui js
        $links = $("a");

        $links.on("click", function (e) {
          e.preventDefault();
        });

        $(".method-option").click(function (event) {
          event.preventDefault();
          let methodText = jQuery(this).text();
          $("#method-dropdown").text(methodText);
        });

        $(function () {
          $("#view").on("click", function () {
            $(".box2").toggle();
          });
        });

        $(".box2").click(function () {
          $("#input-container").append(
            '<div class="span12"><div class="control-group"><input name="input-url[]" class="input-block-level" type="text" placeholder="url" style="padding-left: 15px" /></div></div>'
          );
        });

        // requests
        $(function () {
          $("#submit-form").on("click", function () {
            let method = $("#method-dropdown").text();
            let extMethod = "";

            var numUrls = $(".span12 .control-group").length;

            if (numUrls > 1) {
              var urls = $("input[name^=input-url]")
                .map(function (idx, elem) {
                  return $(elem).val();
                })
                .get();

              var url = urls[0];
              console.log(url);
            } else {
              var url = $("input[name^=input-url]").val();
              console.log(url);
            }

            if (method == "tf-idf") {
              extMethod = "tfidf";
              var form = new FormData();
              var settings = {
                url: "http://localhost:8000/api/tfidf?url=" + url,
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                data: form,
                dataType: "json", //or use JSON.parse(data)
              };
              console.log(settings["url"]);

              $.ajax(settings).done(function (response) {
                var keywords = response.keywords;
                var similarPages = response.similar_pages;
                var summary = response.summary;

                document.getElementById("keywords").innerHTML =
                  keywords.join(", ");
                var similarPagesUl = document.getElementById("similar");
                similarPages.map((page) => {
                  var li = document.createElement("li");
                  var a = document.createElement("a");
                  a.href = page;
                  a.innerHTML = page;
                  li.appendChild(a);
                  similarPagesUl.appendChild(li);
                });
                document.getElementById("summary").innerHTML = summary;
              });
            } else if (method == "YAKE") {
              extMethod = "yake";
              var settings = {
                url: "http://localhost:8000/api/yake?url=" + url,
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                data: form,
                dataType: "json", //or use JSON.parse(data)
              };
              console.log(settings["url"]);

              $.ajax(settings).done(function (response) {
                var keywords = response.keywords;
                var similarPages = response.similar_pages;
                var summary = response.summary;

                document.getElementById("keywords").innerHTML =
                  keywords.join(", ");
                var similarPagesUl = document.getElementById("similar");
                similarPages.map((page) => {
                  var li = document.createElement("li");
                  var a = document.createElement("a");
                  a.href = page;
                  a.innerHTML = page;
                  li.appendChild(a);
                  similarPagesUl.appendChild(li);
                });
                document.getElementById("summary").innerHTML = summary;
              });
            } else if (method == "KeyBERT") {
              extMethod = "keybert";
              var settings = {
                url: "http://localhost:8000/api/keybert?url=" + url,
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                data: form,
                dataType: "json", //or use JSON.parse(data)
              };
              console.log(settings["url"]);

              $.ajax(settings).done(function (response) {
                var keywords = response.keywords;
                var similarPages = response.similar_pages;
                var summary = response.summary;

                document.getElementById("keywords").innerHTML =
                  keywords.join(", ");
                var similarPagesUl = document.getElementById("similar");
                similarPages.map((page) => {
                  var li = document.createElement("li");
                  var a = document.createElement("a");
                  a.href = page;
                  a.innerHTML = page;
                  li.appendChild(a);
                  similarPagesUl.appendChild(li);
                });
                document.getElementById("summary").innerHTML = summary;
              });
            } else {
              alert("invalid method!");
            }

            $("#wordcloud-pic").attr("src", "http://localhost:8000/word_cloud");

            if (typeof urls !== 'undefined' && urls.length > 1) {
              var settings = {
                url: "http://localhost:8000/api/similarity_graph",
                method: "POST",
                timeout: 0,
                headers: {
                  "Content-Type": "application/json",
                },
                data: JSON.stringify(urls),
              };

              $.ajax(settings).done(function (response) {
                console.log(response);
                // const picBlob = new Blob([response], { type: "image/png" });
                // var graphPic = URL.createObjectURL(picBlob);
                // $("#graph-pic").attr("src", graphPic);
                $("#graph-pic").attr("src","http://localhost:8000/similarity_graph");
              });


            }
          });
        });
      });
    </script>
  </body>
</html>
